.name-button {
    color: rgb(196, 154, 154);
    font-size: 16px;
    font-weight: 600;
}

.name-button:hover {
    color: white;
}


@media (min-width: 1280px) {
    .name-button {
        font-size: 18px;     
    }
}