.contenedor-date-picker {
    margin-bottom: 10px;
}

.caja-date-picker {
    width: 100vw;
    /* display: grid; */
}

.box-date-picker {
    /* justify-self: center; */
    width: 100vw;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    margin-top: 2vh;
}

.one-calendar1 {
    width: 155px;
    display: flex;
    
}

.one-calendar2 {
    width: 155px;
    margin-left: 2vw;
    display: flex;
    
}

.label-desde {
    flex: 0 0 57.5px; 
    display: inline-flex;
    justify-content: center;
    align-items: center;
    height: 25px;
    margin-right: 2px;
    margin-bottom: 10px;
    background-color: rgb(68, 68, 192);
    color: white;
    border-radius: 3px;
    text-align: center;
    box-sizing: border-box;
}

.label-hasta {
    flex: 0 0 57.5px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    height: 25px; 
    margin-right: 2px;
    margin-bottom: 10px;
    background-color: rgb(68, 68, 192);
    color: white;
    border-radius: 3px;
    text-align: center;
    box-sizing: border-box;
}

.calendar {
    width: 100px;
    height: 25px;
    font-size: 16px;
    margin-bottom: 10px;
    font-weight: 700;
    text-align: center;
    border: solid 3px blue;
}

/* .color-text-calendar1 {
    color: white;
} */

.titulo-buscar-fechas {
    margin-top: 2vh;
}

.contenedor-chequear-cabañas {
    top: 0;
    padding-top: 1vh;
    width: 100vw;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
}

.contenedor-filtro-cabañas {
    margin-bottom: 20px;
    position: relative;
}

.cartel-mas-3 {
    color: white;
    font-size: 30px;
    position: absolute;
    right: 15px;
    bottom: -15px;
}

.box-chequear-cabañas {
    margin: auto;
}

.name-filtro-cabaña {
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 18px;
    font-weight: 700;
}

.box-filtro-cabaña {
    margin: auto;
}

.cont-image-cabaña1 {
    width: 300px; 
}

.image-filtro-cabañas {
    width: 300px;
    height: 225px;
    margin-bottom: 5px;
}

.cont-image-filtro-cabaña2 {
    width: 300px;
    height: 230px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content:space-between;
}

.div-images-filtro-cabaña{
    width: 148px;
    display: grid;
}

.images-filtro-cabaña {
    width: 147px; 
}
 
.linea-divisoriaF-filtrar-fechas {
    margin-top: 15px;
} 

.mensaje-no-fechas-disponibles {
    font-size: 20px;
    color: red;
    font-weight: 700;
    margin-bottom: -15px;
}

.mensaje-aqui-puedes {
    margin-bottom: 0;
    font-size: 18px;
}

.boton-cabañas-filtro-fechas {
    width: 140px;
    font-size: 18px;
    border-radius: 5px;
    background-color: lightgray;
    font-weight: 600;
    margin-top: 10px;
}

.boton-cabañas-filtro-fechas:hover {
    background-color: black;
    color: white;
}

.message-buscando-cabañas {
    color: red;
    font-size: 30px;
    font-weight:600;
    margin-top: 3vh;
    margin-bottom: 3vh;
}


@media (min-width: 425px) {
    .label-desde {
        flex: 0 0 62px; 
    }
    
    .label-hasta {
        flex: 0 0 62px;
        margin-left: 5px;
    }
}

@media (min-width: 620px) {
    .contenedor-filtro-cabañas {
         width: 600px;
     }

     .contenedor-filtro-cabañas:hover {
        box-shadow: 5px 5px 5px 5px;
     }

     .box-filtro-cabaña{ 
        height: 225px;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content:space-evenly
     }

     .cont-image-cabaña1 {
        width: 300px;
    }

    .image-filtro-cabañas {
        width: 300px;
        height: 225px;
    }

    .cont-image-filtro-cabaña2 {
        width: 300px;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content:space-around;
    }

    .div-images-filtro-cabaña{
        width: 140px;
        display: grid;
    }

    .images-filtro-cabaña {
        width: 145px;
        height: 110px;
    }
}

@media (min-width: 1000px) {
    .label-desde {
        flex: 0 0 70px; 
    }
    
    .label-hasta {
        flex: 0 0 70px;
        margin-left: 5px;
    }
}