.contenedor-date-picker {
    margin-bottom: 10px;
}

.caja-date-picker {
    width: 100vw;
   /*  display: grid; */
   display: flex;
   flex-wrap: wrap;
   flex-direction: row;
   justify-content: center;
}

.box-date-picker {
    width: 100vw;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content:space-evenly;
    margin-top: 2vh;
}

.one-calendar1 {
    /* width: 155px; */
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.one-calendar2 {
    /* width: 155px; */
    /* margin-left: 2vw; */
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;   
}

/* .label-desde {
    flex: 0 0 57.5px; 
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin-right: 2px;
    margin-bottom: 10px;
    border-radius: 3px;
    text-align: center;
    box-sizing: border-box;
}

.label-hasta {
    flex: 0 0 57.5px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin-right: -5px;
    margin-bottom: 10px;
    border-radius: 3px;
    text-align: center;
    box-sizing: border-box;
} */

.calendar {
    width: 100px;
    height: 25px;
    font-size: 16px;
    color: black;
    margin-bottom: 10px;
    font-weight: 600;
    text-align: center;
    border: solid 1px black;
    border-radius: 10px;
    cursor: pointer;
    margin-bottom: -3px;
}

.calendar:hover {
    background-color: lightgrey;
}

.label-entrada {
    display: none;
}

.show-label-entrada {
    display: block;
    font-size: 16px;
}

.label-salida {
    display: none;
}

.show-label-salida {
    display: block;
    font-size: 16px;
}

/* .calendar:hover {
    background-color: lightgrey;
} */

.titulo-buscar-fechas {
    margin-top: 2vh;
}

.ocultar-filtro-fechas {
    display: none;
}

.contenedor-chequear-cabañas {
    top: 0;
    padding-top: 1vh;
    width: 100vw;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
}

.contenedor-filtro-cabañas {
    margin-bottom: 20px;
    position: relative;
}

.cartel-mas-3 {
    color: white;
    font-size: 30px;
    position: absolute;
    right: 15px;
    bottom: -15px;
}

.box-chequear-cabañas {
    margin: auto;
}

.name-filtro-cabaña {
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 18px;
    font-weight: 700;
}

.box-filtro-cabaña {
    margin: auto;
}

.cont-image-cabaña1 {
    width: 300px; 
}

.image-filtro-cabañas {
    width: 300px;
    height: 225px;
    margin-bottom: 5px;
}

.cont-image-filtro-cabaña2 {
    width: 300px;
    height: 230px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content:space-between;
}

.div-images-filtro-cabaña{
    width: 148px;
    display: grid;
}

.images-filtro-cabaña {
    width: 147px; 
}
 
.linea-divisoriaF-filtrar-fechas {
    margin-top: 15px;
} 

.contenedor-titulo-las-cabañas-disponibles {
    width: 100%;
    display: grid;
}

.titulo-las-cabañas-disponibles {
    width: 90%;
    justify-self: center;
}

.mensaje-no-cabañas-disponibles {
    font-size: 20px;
    color: red;
    font-weight: 700;
    margin-bottom: -15px;
}

.mensaje-aqui-puedes {
    margin-bottom: 0;
    font-size: 18px;
}

.boton-cabañas-filtro-fechas {
    width: 140px;
    font-size: 18px;
    border-radius: 5px;
    background-color: lightgray;
    font-weight: 600;
    margin-top: 10px;
}

.boton-cabañas-filtro-fechas:hover {
    background-color: black;
    color: white;
}

.message-buscando-cabañas {
    color: red;
    font-size: 20px;
    font-weight:800;
    margin-top: 3vh;
    margin-bottom: 3vh;
}

/* .contenedor-message-reservas-mínimas {
    display: grid;
}

.box-message-reservas-mínimas {
    justify-self: center;
    width: 90%;
    background-color: red;
} */

.message-reservas-mínimas {
    color: red;
    font-size: 22px;
    font-weight: 700;
}


@media (min-width: 425px) {
    .label-desde {
        flex: 0 0 62px; 
    }
    
    .label-hasta {
        flex: 0 0 62px;
        margin-left: 5px;
    }
}

@media (min-width: 620px) {
    .calendar {
        width: 150px;
        height: 30px;
        font-weight: 600;
        margin-bottom: 5px;
    }

    .contenedor-filtro-cabañas {
         width: 600px;
     }

     .contenedor-filtro-cabañas:hover {
        box-shadow: 5px 5px 5px 5px;
     }

     .box-filtro-cabaña{ 
        height: 225px;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content:space-evenly
     }

     .cont-image-cabaña1 {
        width: 300px;
    }

    .image-filtro-cabañas {
        width: 300px;
        height: 225px;
    }

    .cont-image-filtro-cabaña2 {
        width: 300px;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content:space-around;
    }

    .div-images-filtro-cabaña{
        width: 140px;
        display: grid;
    }

    .images-filtro-cabaña {
        width: 145px;
        height: 110px;
    }
}

@media (min-width: 1000px) {
    .calendar {
        width: 200px;
        height: 35px;
        font-size: 18px;
    }

    .label-desde {
        /* flex: 0 0 70px; */ 
        font-size: 18px;
    }
    
    .label-hasta {
        /* flex: 0 0 70px; */
        /* margin-left: 5px; */
        font-size: 18px;
    }

    .show-label-entrada {
        font-size: 18px;
    }

    .show-label-salida {
        font-size: 18px;
    }
}