.sidebar {
    position: absolute;
    /* background-color: rgb(111, 89, 89); */
    background-color: black;
    text-align:left;
    padding-top: 20%;
    top: 0;
    right: 0;
    width: 50vw;
    z-index: 1;
    padding-left: 20px;
  } 

  .sidebar a {
      text-decoration: none;
  }
  
  .close-sidebar {
    /* color: white; */
    color: rgb(196, 154, 154);
    font-size: 18px;
    font-weight: 900;
    position: absolute;
    margin-top:-30%;
  }
  
  .close-sidebar:hover {
   color: white;
  }

  .component-sidebar {
    margin-bottom: 15%;
  }
  
  .sidebar {
    display: none;
  }