.box-consultar-fechas {
    min-height: 86vh;
}

.image-ver-fechas {
    width: 150px;
    margin-bottom: 2vh;
}

.contenedor-calendario {
    display: grid;  
}

.titulo-consultar-fechas {
    margin-top: 2vh;
    margin-bottom: 2vh;
}

.calendario {
    width: 95% !important;
    justify-self: center;
    color: rgb(0, 0, 255);
}

.button-ver-fechas {
    width: 150px;
    padding: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 18px;
    justify-self: center;
    border-radius: 5px;
    font-weight: 700;
    background-color: lightgray;
}

.button-ver-fechas:hover {
    background-color: black;
    color: white
}

.contenedor-importante {
    justify-self: center;
    border: solid 2px red;
    width: 95%;
    margin-top: 2vh;
    margin-bottom: 2vh;
}

.titulo-importante {
    color: red;
    font-weight: 700;
    margin-bottom: auto;
}

.texto-importante {
   text-align: left;
   margin-left: 5px;
   margin-bottom: 5px;
}

.contenedor-fechas-boton {
    display: none;
}

.días-seleccionados { 
    font-size: 18px;
    font-weight: 700;
    color: blue;
    margin-top: 10px;
    margin-bottom: 5px;
}

.error-fechas-repetidas {
    font-size: 25px;
    font-weight: 700;
    color: red;
}

.contenedor-días-seleccionados {
    display: grid;
}

.box-días-seleccionados {
    width: 250px;
    justify-self: center;
    text-align: left;
}

.entrada-salida {
    color: blue;
    font-weight: 700;
} 

.message-días-a-reservar {
    width: 95%;
    text-align: center;
    margin-bottom: 5px;
    font-size: 18px;
    font-weight: 700;
    margin: auto;
}

.días-reservados {
    margin-bottom: 5px;
}

.contenedor-mesagge-fechas-que-reservaste {
    display: grid;  
}


.mesagge-fechas-que-reservaste {
    width: 95%;
    justify-self: center;
    margin-top: 15px;
    margin-bottom: 5px;
    font-size: 22px;
    font-weight: 700;
    color: salmon;
}

@media (min-width: 768px) {
    .calendario {
        width: 80% !important;
    }

    .contenedor-importante {
        width: 80%;
    }

    .message-días-a-reservar {
        width: 80%;
    }

    .mesagge-fechas-que-reservaste {
        width: 80%;  
    }
}

@media (min-width: 950px) {
    .calendario {
        width: 65% !important;
    }

    .contenedor-importante {
        width: 65%;
    }

    .message-días-a-reservar {
        width: 65%;
    }

    .mesagge-fechas-que-reservaste {
        width: 65%;   
    }
}




